<tr class="mdc-data-table__row">
  <th class="mdc-data-table__cell" scope="row"></th>
  <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
  <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
  <td class="mdc-data-table__cell"></td>
</tr>
